/* SELECT 2 */
select+.select2-container--bootstrap-5 {
    width: 100% !important;
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    /*font-weight: bold;*/
}
.select2-container--bootstrap-5 .select2-selection {
    min-height: 35px;
    padding-top: 7px;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    line-height: 1;
}
.selected >*,
.table-hover>tbody>tr:hover>* {
    /*background-color: #144081 !important;*/
    color: #fff !important;
    cursor: pointer !important;
}
/* BOOTSTRAP */
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.row>* {
    padding-left: 5px;
    padding-right: 5px;
}
.popover-body {
    
}
.modal-title .sistema-font {
    margin-left: 5px;
}
.alert{
    text-align:center;
    margin-bottom: 0px;
    padding: 5px;
}
.offcanvas.offcanvas-end {
    width: 250px;
}
.navbar-nav .nav-item .nav-link {
    color: #000 !important;
}
.dropdown .thumb {
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    margin-top: -8px !important;
}
.dropdown-divider {
    border-top: 1px solid #a1a1a1;
}
.btn {
    padding-top: 8px;
    padding-bottom: 7px;
    width: 100%;
    white-space: nowrap;
}
.btn .fa-solid {
    color: #fff !important;
}
.table th .btn-primary {
    border-color: #ffffff !important;
}
.mx-contenedor-subcarga .fa-solid {
    color: #b02a37 !important;
}
.mensaje-danger {
    background-color: #fb175b;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
}
.fa-solid {
    font-size: 15px;
}
/*.btn-primary {
    width: 100%;
}*/
input[type=color] {
    padding: 2px;
    height: 38px;
}
.form-control {
    /*font-weight: bold;*/
    padding: 0.475rem 0.75rem;
    border-radius: 4px;
    border-color: #ced4da;
}
.modal-title {
    font-size: 18px;
}
.modal-header,
.modal-body,
.modal-footer {
    padding: 5px;
}
.modal-footer>* {
    margin: 0px;
}
.form-check-label {
    margin-top: 3px;
}
.tab-content>.tab-pane {
    padding-top: 10px;
}
.accordion-body{
    padding:10px;
}
.accordion-button {
    padding:10px;
}
.accordion-button:not(.collapsed){
    color:#000;
    background-color: #cdcdcd !important;
    box-shadow: none;
}
.accordion-button::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}
@media (min-width: 576px){
    .modal-sm {
        --bs-modal-width: 450px;
    }
}
/* FILEUPLOAD */
.fuzone {
    position: relative;
    border: 1px dashed #8f9398;
    background-color: #e9ecef;
    border-radius: 3px;
    transition: all 0.3s linear;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    min-height:109px;
    margin-top: 0px;
    float:left;
    cursor:pointer;
    text-align: center;
}
.fuzone input {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:100;
    cursor:pointer;
}
.fuzone-text {
    text-align: center;
    color: #98AAB8;
    left: 50%;
    margin-left: -86px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 0;
}
.fuzone .fa-solid {
    font-size: 30px;
    display: block;
}
.fuzone-image {
    background-color: #e9ecef;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.fuzone-close {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #c12e2e;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}
/* DATA TABLE */
.table tfoot .form-control {
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
/*.dataTables_processing {
  display:none !important;
}*/
.table.dataTable thead th {
    border-bottom:0px;
}
.table tbody tr:hover>*,
.table.dataTable tbody tr:hover>* {
    background-color: transparent !important;
    color: #000!important;
}

.table tbody tr.selected>*,
.table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgb(223 223 121) !important;
    color: #000!important;
}
.table.dataTable tfoot th {
    border-top:0px;
}
.table mark {
    padding: 0;
}
.table{
    margin-bottom: 0px;
}
.table>:not(caption)>*>* {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    line-height: 1.1;
    vertical-align: middle;
    border-bottom-width: 0px;
    height: 32px;
}
.table>:not(caption)>thead>th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.table>:not(caption)>tfoot>th {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.table>:not(caption)>*>td {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.table th .fa-circle-plus {
    color:#ffffff !important;
}
.dts_label {
    display:none;
}
/* checked */
.chk {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.chk input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 4px;
    position: relative;
    transition: all .2s;
    background-color: #fff;
}

.chk input:checked + .checkmark {
    background: #fff;
}

.chk input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
/* FEATHERICONS */
svg {
    height: 18px;
    margin-top: -4px;
}
/* SISTEMA */
.body {
    background-image: url(https://kayllapi.com/public/backoffice/sistema/banner-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.body_fondo {
    background-color: #00000040;
    height: 100%;
    width: 100%;
}
body,
.accordion-button,
.form-select,
.dropdown-item,
.btn,
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field,
.form-control,
.text-bg-primary,
.popover-body,
.category-bubble .category-bubble-title {
    font-size: 13px;
}
.mapa {
    position: relative;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.dropdown-item .fa-solid {
    color: #000 !important;
}
.form-select {
    padding: 7px 2.25rem 8px 0.75rem;
}
.table .form-select {
    padding: 4px 2.25rem 4px 0.75rem;
}
.errors {
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -26px;
    right: 5px;
}
.errors > .fa-solid {
    color: red !important;
    font-size: 13px !important;
}
.modal-title .fa-solid {
    font-size: 18px !important;
}
.cover-container {
    max-width: 900px;
}
.sistema-logo-imagen {
    background-color: #343a40;
    padding: 0px;
    margin-top: -9px;
    border-radius: 0px 0px 5px 5px;
}
.sistema-logo-imagen > img {
    height: 50px;
    border-radius: 0px 0px 5px 5px;
}
.sistema-logo {
    background-color: #343a40;
    padding: 10px;
    margin-top: -8px;
    border-radius: 0px 0px 5px 5px;
}
.fa-circle-info {
    color: #03a6dd;
}
.alert .fa-solid {
    font-size: 30px;
    display: block;
}
.sistema-row-col-md-6 {
    width:50%;
    float: left;
}
.sistema-nav-item-active {
    background-color: #4626197d;
    border-radius: 5px;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 2px;
}
.sistema-nav-item {
    padding-left: 10px;
}
.img {
    height: 35px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn_sistema,
.btn_modulo,
.btn_submodulo,
.btn_opcion {
  display: none;
}
td.table-type-badge,
td.table-type-num {
  text-align: center;
}
td.table-type-ajust {
  width: 10px;
  white-space: nowrap;
}
td.table-type-date {
  width: 10px;
  white-space: nowrap;
}
td.table-type-money {
  width: 10px;  
  text-align: right;
  white-space: nowrap;
}
td.table-type-code,
td.table-type-estado,
td.table-type-badge,
td.table-type-img,
td.table-type-num,
td.table-type-btn {
  width: 10px;
}
.table-mark-aperturado > td{
  background-color:#ffe492 !important;
}
.table-mark-anulado > td{
  background-color:#999999 !important;
}
.table-mark-presentacion > td{
  background-color:#86cfe7 !important;
}
/* =========== Cuadros ============ */
section.hero-section {
    padding: 20px 0 100px;
}
.landing__categories {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.category-bubble {
    height: 90px;
    width: 120px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 2px 17px 0 #000000;
    text-align: center;
    transition: .3s;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    margin: 8px;
    margin-bottom: 18px;
}
.category-bubble:hover {
    height: 100px; 
    width: 127px; 
    margin-left: 4.5px;
    margin-right: 4.5px;
    margin-top: -3px;
}
.category-bubble .category-bubble-icon {
    margin-top: 13px; 
    height: 40px;
}
.category-bubble .category-bubble-icon:hover {
    margin-top: 13px;
    height: 40px;
}
.category-bubble .category-bubble-title {
    line-height: 16px;
    margin-top: 3px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-weight:bold;
    padding-left: 5px;
    padding-right: 5px;
}
.category-bubble:hover .category-bubble-icon {
    margin-top: 15px;
    height: 50px;
}
/* =========== carga ============ */
.mx-subcarga .alert-danger {
  background-color: #f8d7da;
  padding: 5px;
}
.mx-subcarga .alert-primary {
  background-color: #228bd2;
  padding: 5px;
}
.mx-subcarga .alert-success {
  background-color: #1ead5a;
  padding: 5px;
}
.mx-subcarga .fa-solid {
  font-size: 40px;
}
.mx-carga {
	position: relative;
  float: left;
  width: 100%;
}
.mx-subcarga {
  background-color: rgba(27, 25, 25, 0.3) !important;
  position: absolute !important;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  border-radius: 3px !important;
  text-align: center;
  padding: 0px !important;
  margin-bottom: 0px !important;
  border: 0px solid transparent !important;
}
.mx-contenedor-subcarga {
	top:50%;
	margin-top: -50px;
  position:relative;
  cursor: pointer;
  border-color: transparent;
  color: #93222c;
}
.mx-contenedor-subcarga svg {
  color: #680b0b;    
  height: 49px;
  width: 40px;
}
.mx-mensaje-subcarga {
  font-size:14px;
  padding: 5px;
}
/* carga 3 */
#preloader{
	top: 10px;
	left: 48%;
  position:relative;
  text-align: left;
  height: 45px;
}
#preloader:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#9b59b6;
    animation: preloader_before 1.5s infinite ease-in-out;
}
 
#preloader:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#2ecc71;
    left:22px;
    animation: preloader_after 1.5s infinite ease-in-out;
}
 
@keyframes preloader_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
      100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
    100% {transform: translateX(0px)}
}
#preloader-icon {
	margin-top: 5px;
	font-size: 35px;
}
@media (max-width: 767px) {
	.mx-br-responsive {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
/* confirm */
.cont-confirm {
    font-size: 40px;
    color: #0b9c21;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.confirm {
    border: 2px solid #0b9c21;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
}
.confirm-texto {
    font-size: 22px;
    color: #000000;
}
.confirm-subtexto {
    font-size: 16px;
    color: #23252b
}