.Switcher {
  position: relative;
  display: flex;
  border-radius: 5em;
  box-shadow: inset 0 0 0 1px;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: r-n 0.5s;
          animation: r-n 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3vmin;
  will-change: transform;                    
}
.Switcher__checkbox:checked + .Switcher {
  -webkit-animation-name: r-p;
          animation-name: r-p;
}
@-webkit-keyframes r-p {
  50% {
    transform: rotateY(45deg);
  }
}
@keyframes r-p {
  50% {
    transform: rotateY(45deg);
  }
}
@-webkit-keyframes r-n {
  50% {
    transform: rotateY(-45deg);
  }
}
@keyframes r-n {
  50% {
    transform: rotateY(-45deg);
  }
}
.Switcher::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  border-radius: inherit;
  background-color: #343a40;
  transform: translateX(-75%);
  transition: transform 0.5s ease-in-out;
}
.Switcher__checkbox:checked + .Switcher::before {
  transform: translateX(22%);
}

.Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 10px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.Switcher__trigger::after {
  content: attr(data-value);
}
.Switcher__trigger::before {
  --i: var(--x);
  content: attr(data-value);
  position: absolute;
  color: #00a8ff;
  transition: opacity 0.3s;
  opacity: calc((var(--i) + 1) / 2);
  transition-delay: calc(0.3s * (var(--i) - 1) / -2);
  font-weight: bold;
}
.Switcher__checkbox:checked + .Switcher .Switcher__trigger::before {
  --i: calc(var(--x) * -1);
}
.Switcher__trigger:nth-of-type(1)::before {
  --x: 1;
}
.Switcher__trigger:nth-of-type(2)::before {
  --x: -1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  perspective: 750px;
  margin: auto;
  margin-bottom: 5px;
}